
nav {
    background-color: #333;
    overflow: hidden;
}


ul.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: left;
}

ul.nav-menu li {

    text-align: left;
}

ul.nav-menu li:last-child {
    flex-grow: 1;
    text-align: right;
}

ul.nav-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-menu a:hover {
    background-color: #ddd;
    color: black;
}

.nav-right-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* Conteúdo principal */
#main-content {
    margin-top: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #f2f2f2;
}