<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Googol</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/indexing.css}">
</head>
<body>


<nav>
  <ul class="nav-menu">
    <li><a href="../stats">Admin</a></li>
    <li><a href="../linked">List pages connected to another</a></li>
    <li><a href="../indexing">Index new urls</a></li>
    <li><a href="../search">Googol</a></li>
    <li>
      <div class="nav-right-elements">
        <span th:if="${logado}"><a href="../logout">   Logout   </a></span>
        <span th:if="${logado}"><p th:text="${username}" style="color: white"></p></span>
        <span th:if="${not logado}"><a href="../login" class="login">Login/Register</a></span>
      </div>
    </li>
  </ul>
</nav>
<div class="search-container">
  <form th:action="@{/hackernewsindex}" th:object="${Client}" method="post">
    <label for="username" class="label">Username: </label>
    <input type="text" placeholder="hackernews username" name="username" id="text-form">
    <button type="submit" id="submit-button">Add</button>
  </form>

</div>
<script th:if="${errorScript != null}" th:inline="javascript">
  var preenchido=[[${errorScript}]];
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function executarTarefa() {
    document.getElementById("text-form").placeholder=preenchido;
    await sleep(10);
    alert("Pedido recusado!\nSearche Module Indiponivel!!\nClique em OK para retornar!!");
    document.getElementById("text-form").placeholder="hackernews username";
  }
  executarTarefa();
</script>

</body>
</html>
