<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Googol</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<div class="menu">
    <span th:if="${logado}"> <a href="../logout">Logout</a> </span>
    <span th:if="${not logado}"> <a href="../login" class="login">Login/Register</a></span>
    <p class="username" th:text="${username}"></p>
</div>
<p>Escolha uma das opções abaixo: </p>
<p><a href="../stats">Administração</a></p>
<p><a href="../indexing">Indexação de novos Urls</a></p>
<p><a href="../linked">List pages connected to another</a></p>
<p><a href="../search">Googol</a></p>
</body>
</html>
