<!DOCTYPE html>
<html lang="en">
<head>
    <title>GOOGOL ADMIN</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<nav>
    <ul class="nav-menu">
        <li><a href="../search">Googol</a></li>
        <li><a href="../indexing">Indexação de novos Urls</a></li>
        <li><a href="../linked">List pages connected to another</a></li>
        <li>
            <div class="nav-right-elements">
                <span th:if="${logado}"><a href="../logout">   Logout   </a></span>
                <span th:if="${logado}"><p th:text="${username}" style="color: white"></p></span>
                <span th:if="${not logado}"><a href="../login" class="login">Login/Register</a></span>
            </div>
        </li>
    </ul>
</nav>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! This application relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row"><h1>STATS</h1>
        </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Informação acerca dos Downloaders Ativos</th>
                </tr>
                </thead>
                <tbody id="messages">
                </tbody>


            </table>

            <table id="conversation2" class="table table-striped">
                <thead>
                <tr>
                    <th>Informação acerca dos Barrels Ativos</th>
                </tr>
                </thead>
                <tbody id="messages1">
                </tbody>


            </table>

            <table id="conversation3" class="table table-striped">
                <thead>
                <tr>
                    <th>Informação acerca do top10 de pesquisas</th>
                </tr>
                </thead>
                <tbody id="messages2">
                </tbody>


            </table>
        </div>
    </div>
</div>
</body>
</html>
